#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: #f8f9fa;
  display: block;
}

h3 small {
  font-size: 16px;
}

.table td {
  vertical-align: middle;
}
