.navlink{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: rgb(241, 76, 76);
    padding: 10px;
}
.navlink a{
    text-decoration: none;
    color: black;
}